section {
  padding: 80px 0;
}

* {
  font-size: 16px;
  font-family: 'sans-reguler', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: sans-bold;
  src: url('../fonts/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: sans-reguler;
  src: url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: sans-semibold;
  src: url('../fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
  font-family: sans-black;
  src: url('../fonts/SourceSansPro-Black.ttf');
}
.sans-bold {
  font-family: 'sans-bold', sans-serif;
}
.sans-reguler {
  font-family: 'sans-reguler', sans-serif;
}
.sans-semibold {
  font-family: 'sans-semibold', sans-serif;
}
.sans-black {
  font-family: 'sans-black', sans-serif;
}
.uppercase__font {
  text-transform: uppercase;
}
.capitalize__font {
  text-transform: capitalize;
}
.justify {
  text-align: justify;
}
.underline {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  h6 {
    font-size: 14px;
  }
}

.semibold {
  font-weight: 700 !important;
}
.bold {
  font-weight: 900 !important;
}
.normal {
  font-weight: normal !important;
}
.no__outline {
  outline-style: none !important;
}
.pointer {
  cursor: pointer;
}
.ul__list--inline {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ul__list--inline > li {
  display: inline-block;
}
.ul__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sosmed__list li a {
  width: 40px;
  height: 40px;
  transition: 0.5s;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: black;
}
.sosmed__list li a:hover {
  color: white;
  background-color: black;
  box-shadow: 0px 10px 40px #3e3c3c7a;
}
.sosmed__list li a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* slider */
.images__slider img {
  object-fit: cover;
  width: 300px;
  height: 400px;
}
@media screen and (max-width: 768px) {
  .images__slider img {
    width: 350px;
  }
}
@media screen and (max-width: 576px) {
  .images__slider img {
    width: 280px;
    margin: 0 auto;
  }
}
.slider__offset {
  width: 1000px;
}
@media screen and (max-width: 1024px) {
  .slider__offset {
    width: 800px;
  }
}
@media screen and (max-width: 576px) {
  .slider__offset {
    width: 100%;
  }
}
.bg__grub--slider {
  background-color: #d0d0d026;
  border-radius: 20px;
}
.slider__arrow li {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #383838;
  color: white;
  border-radius: 50%;
  transition: 0.5s;
}
.slider__arrow li:hover {
  box-shadow: 0px 10px 40px #3e3c3c7a;
}
.slider__arrow li i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
