html {
    overflow-x: hidden;
    background-attachment: fixed;
}

html,
body {
    background-attachment: fixed;
    background-position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.totalcontainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container1 {
    background-attachment: fixed;
    transform: scaleX(1.11);
}

.container2 {
    background-attachment: fixed;
    transform: scaleX(1.25);
}

.layer-1 {
    height: 100%;
    width: 100%;
    background-color: #fed8c1;
}

.layer-2 {
    background: url("../img/lay2.svg");
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-3 {
    background: url("../img/lay3.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-4 {
    background: url("../img/lay4.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.layer-5 {
    background: url("../img/lay5.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.55s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-6 {
    background: url("../img/lay6.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-7 {
    background: url("../img/lay7.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.85s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-8 {
    background: url("../img/lay8.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.laya-please {
    background-attachment: fixed;
    position: absolute;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100em;
    width: 100%;
    top: 0;
    left: 0px;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.main-container {
    z-index: 100;
    transform: scaleX(1);
}

h1 {
    z-index: 100;
    color: #6b0000b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}




@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
    &:after {
        position: absolute;
        content: "";
        top: $y;
        left: $x;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale($size);
        -webkit-filter: blur($spread);
        -moz-filter: blur($spread);
        -ms-filter: blur($spread);
        filter: blur($spread);
        background: linear-gradient(270deg, $colorA, $colorB);
        background-size: 200% 200%;
        animation: animateGlow $duration ease infinite;

        @keyframes animateGlow {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }
    }
}


* {
    box-sizing: border-box
}


.projects {}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.column {
    flex: 50%;
    padding: 0 4px;
    margin: auto;
    width: fit-content;
}


.skill-img {
    display: block;
    width: 50%;
    margin: auto;
    height: 50%;
}

h2 {
    font-size: 50px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.head {
    margin-left: -65%;
    color: rgba(0, 0, 0, 0.781);
}

.img-container {
    display: block;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
}


.img-overlay {
    text-align: center;
    width: fit-content;
    height: auto;
    margin: auto;
    padding: 5px;
    position: relative;
    bottom: 0;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: #000000;
    transition: .5s ease;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 75%;
    text-align: center;
}


.img-container:hover .img-overlay {
    opacity: 1;
}


.skill-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    display: flex;
    color: rgb(255, 219, 205);
    flex-direction: column;
    border: #000000;
    text-shadow: 1.5px 1px 1px black;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.language{
    margin-left: 17%;
    margin-right: 17%;
}

.misc {
    margin-left: 32%;
    margin-right: 32%;
}

.prpro {
    width: 500%;
}

.platform {
    margin-left: 40%;
    margin-right: 40%;
}