html {
    overflow-x: hidden;
    background-attachment: fixed;
}

html,
body {
    background-attachment: fixed;
    background-position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.totalcontainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container1 {
    background-attachment: fixed;
    transform: scaleX(1.11);
}

.container2 {
    background-attachment: fixed;
    transform: scaleX(1.25);
}

.layer-1 {
    height: 100%;
    width: 100%;
    background-color: #fed8c1;
}

.layer-2 {
    background: url("../img/lay2.svg");
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-3 {
    background: url("../img/lay3.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-4 {
    background: url("../img/lay4.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.layer-5 {
    background: url("../img/lay5.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.55s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-6 {
    background: url("../img/lay6.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-7 {
    background: url("../img/lay7.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.85s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-8 {
    background: url("../img/lay8.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.laya-please {
    background-attachment: fixed;
    position: absolute;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 198em;
    width: 100%;
    top: 0;
    left: 0px;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.main-container {
    z-index: 100;
    transform: scaleX(1);
}

h1 {
    z-index: 100;
    color: #6b0000b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}



@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
    &:after {
        position: absolute;
        content: "";
        top: $y;
        left: $x;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale($size);
        -webkit-filter: blur($spread);
        -moz-filter: blur($spread);
        -ms-filter: blur($spread);
        filter: blur($spread);
        background: linear-gradient(270deg, $colorA, $colorB);
        background-size: 200% 200%;
        animation: animateGlow $duration ease infinite;

        @keyframes animateGlow {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }
    }
}


* {
    box-sizing: border-box
}


.projects {}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.column {
    flex: 50%;
    padding: 0 4px;
    margin: auto;
    width: fit-content;
}


.skill-img {
    display: block;
    width:75%;
    height: 75%;
    margin: auto;
}

.skill-img:hover {
    height: 52%;
    width: 52%;
    border-radius: 2%;
    border: #0000008c;
}

h2 {
    font-size: 50px;
    z-index: 100;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.head {
    margin-left: -65%;
    color: rgba(0, 0, 0, 0.781);
}

.img-container {
    display: block;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
}


.img-overlay {
    text-align: center;
    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    position: relative;
    bottom: 0;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: #000000;
    transition: .5s ease;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 75%;
    text-align: center;
    white-space: nowrap;
}

.conOverlay {
    background: rgba(156, 242, 253, 0.733);
}


.img-container:hover .img-overlay {
    opacity: 1;
}


.skill-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    display: flex;
    color: rgb(255, 219, 205);
    flex-direction: column;
    border: #000000;
    text-shadow: 1.5px 1px 1px black;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.language {
    margin-left: 30%;
    margin-right: 30%;
}

.misc {
    margin-left: 35%;
    margin-right: 35%;
}

.platform {
    margin-left: 40%;
    margin-right: 40%;
}

.web {
    margin-left: 27%;
    margin-right: 27%;
}

.dbAndCloud {
    margin-left: 40%;
    margin-right: 40%;
}

.contact {
    margin-left: 27%;
    margin-right: 27%;
}

.contact-head {
    color: azure;
}

.whatsappCol {
    width: 22%;
}

.linkedinCol {
    width: 22%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin: auto;
}

section {
    padding: 80px 0;
}

* {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/SourceSansPro-Black.ttf');
}

.sans-bold {
    font-family: 'Montserrat', sans-serif;
}

.sans-regular {
    font-family: 'Montserrat', sans-serif;
}

.sans-semibold {
    font-family: 'Montserrat', sans-serif;
}

.sans-black {
    font-family: 'Montserrat', sans-serif;
}

.uppercase__font {
    text-transform: uppercase;
}

.capitalize__font {
    text-transform: capitalize;
}

.justify {
    text-align: justify;
}

.underline {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    h6 {
        font-size: 14px;
    }
}

.semibold {
    font-weight: 700 !important;
}

.bold {
    font-weight: 900 !important;
}

.normal {
    font-weight: normal !important;
}

.no__outline {
    outline-style: none !important;
}

.pointer {
    cursor: pointer;
}

.ul__list--inline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul__list--inline>li {
    display: inline-block;
}

.ul__list {
    list-style: none;
    padding: 1%;
    margin: 1%;
}

.sosmed__list li a {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: black;
}

.sosmed__list li a:hover {
    color: white;
    background-color: black;
    box-shadow: 0px 10px 40px #ffffffd0;
}

.sosmed__list li a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* slider */
.images__slider img {
    object-fit: cover;
    width: 300px;
    height: 400px;
}

@media screen and (max-width: 768px) {
    .images__slider img {
        width: 350px;
    }
}

@media screen and (max-width: 576px) {
    .images__slider img {
        width: 280px;
        margin: 0 auto;
    }
}

.slider__offset {
    width: 1000px;
}

@media screen and (max-width: 1024px) {
    .slider__offset {
        width: 800px;
    }
}

@media screen and (max-width: 576px) {
    .slider__offset {
        width: 100%;
    }
}

.bg__grub--slider {
    background-color: #ffffff65;
    border-radius: 20px;
}

.slider__arrow li {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #383838;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
}

.slider__arrow li:hover {
    box-shadow: 0px 10px 40px #3e3c3c7a;
}

.slider__arrow li i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.project-container {
    position: relative;
}

.project-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-description {
    transition: .5s ease !important;
    opacity: 0 !important;
    position: absolute !important;
    width: auto;
    top: 40% !important;
    left: 40% !important;
    transform: translate(-40%, -40%) !important;
    -ms-transform: translate(-40%, -40%) !important;
    text-align: center !important;
}

.project-link {
    transition: .5s ease !important;
    opacity: 0 !important;
    background-color: #e6e6e6b0;
}

.project-container:hover .project-image {
    opacity: 0.3 !important;
}

.project-container:hover .project-description {
    opacity: 1 !important;
}

.project-container:hover .project-link {
    opacity: 1 !important;
}

.text {
    background-color: rgba(201, 119, 43, 0);
    color: white;
    font-size: 14px;
}


#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#scrollBtn:hover {
    background-color: #555;
}

