html {
    overflow-x: hidden;
    background-attachment: fixed;
}

html,
body {
    background-attachment: fixed;
    background-position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.totalcontainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container1 {
    background-attachment: fixed;
    transform: scaleX(1.11);
}

.container2 {
    background-attachment: fixed;
    transform: scaleX(1.25);
}

.layer-1 {
    height: 100%;
    width: 100%;
    background-color: #fed8c1;
}

.layer-2 {
    background: url("../img/lay2.svg");
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-3 {
    background: url("../img/lay3.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-4 {
    background: url("../img/lay4.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.layer-5 {
    background: url("../img/lay5.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.55s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-6 {
    background: url("../img/lay6.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-7 {
    background: url("../img/lay7.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.85s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.layer-8 {
    background: url("../img/lay8.svg");
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.laya-please {
    background-attachment: fixed;
    position: absolute;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900em;
    width: 100%;
    top: 0;
    left: 0px;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.main-container {
    z-index: 100;
    transform: scaleX(1);
}

h1 {
    z-index: 100;
    color: #6b0000b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}



@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
    &:after {
        position: absolute;
        content: "";
        top: $y;
        left: $x;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale($size);
        -webkit-filter: blur($spread);
        -moz-filter: blur($spread);
        -ms-filter: blur($spread);
        filter: blur($spread);
        background: linear-gradient(270deg, $colorA, $colorB);
        background-size: 200% 200%;
        animation: animateGlow $duration ease infinite;

        @keyframes animateGlow {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }
    }
}


* {
    box-sizing: border-box
}


.projects {}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.column {
    flex: 50%;
    padding: 0 4px;
    margin: auto;
    width: fit-content;
}


.skill-img {
    display: block;
    width: 50%;
    margin: auto;
    height: 50%;
}

h2 {
    font-size: 50px;
    z-index: 100;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.head {
    margin-left: -65%;
    color: rgba(0, 0, 0, 0.781);
}

.img-container {
    display: block;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
}


.img-overlay {
    text-align: center;
    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    position: relative;
    bottom: 0;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: #000000;
    transition: .5s ease;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 75%;
    text-align: center;
    white-space: nowrap;
}

.conOverlay {
    background: rgba(156, 242, 253, 0.733);
}


.img-container:hover .img-overlay {
    opacity: 1;
}


.skill-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    display: flex;
    color: rgb(255, 219, 205);
    flex-direction: column;
    border: #000000;
    text-shadow: 1.5px 1px 1px black;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.language {
    margin-left: 20%;
    margin-right: 20%;
}

.misc {
    margin-left: 33%;
    margin-right: 33%;
}

.platform {
    margin-left: 40%;
    margin-right: 40%;
}

.web {
    margin-left: 20%;
    margin-right: 20%;
}

.dbAndCloud {
    margin-left: 33%;
    margin-right: 33%;
}

.contact {
    margin-left: 27%;
    margin-right: 27%;
}

.contact-head {
    color: azure;
}

.whatsappCol {
    width: 22%;
}

.linkedinCol {
    width: 22%;
}

.projects {
    font-size: 62.5%;

    @media screen and (max-width: 1200px) {
        font-size: 50%;
    }
}

.projects {
    font-size: 1.6rem;
    padding: 4rem;
}


.Showcase__item {
    width: 32rem;
    height: 70rem;
    margin: 0 4rem;
    transition: all 0.6s ease;
    transform: translateX(70%) scale(0.8);
    opacity: 0.3;
}

.Showcase__item.slick-active.slick-center .Showcase__data {
    transition-delay: 0.3s;
    transform: perspective(1200rem) rotateX(0deg) translateZ(0px);
    opacity: 1;
}

.Showcase__picture {
    position: relative;
}

.Showcase__picture>img {
    display: block;
    width: 100%;
    height: auto;
}

.Showcase__data {
    overflow: hidden;
    padding: 4rem 3rem;
    background: #35353A;
    color: #fff;
    position: relative;
    transform-style: preserve-3d;
    z-index: 1;
    transition: all 0.5s ease;
    opacity: 1;
    transform-origin: center center;
    transform: perspective(1200rem) rotateX(-90deg) translateZ(-5rem);
    opacity: 0;
}

.Showcase__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.Showcase__tags {
    color: rgba(255, 255, 255, 0.31);
    font-size: 1.8rem;
}

.Showcase__link {
    background: #222;
    color: #fff;
    display: flex;
    padding: 2rem;
    top: 0;
    right: 0;
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-active.slick-center {
    opacity: 1;
    transform: translateX(70%) scale(1);
}

.slick-arrow {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 10;
    transition: all 0.6s ease;
}

.slick-arrow:focus,
.slick-arrow:active {
    outline: none;
}

.slick-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5rem;
}

.slick-arrow.slick-prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.slick-arrow.slick-next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.slick-dots {
    list-style: none;
    display: block;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

.slick-dots>li {
    display: inline-block;
}

.slick-dots>li:not(:first-child) {
    margin-left: 0.5rem;
}

.slick-dots>li:not(:last-child) {
    margin-right: 0.5rem;
}

.slick-dots>li>button {
    position: relative;
    font-size: 1px;
    background: transparent;
    border-radius: 10rem;
    border: none;
    color: transparent;
    width: 10px;
    height: 10px;
}

.slick-dots>li>button::before {
    transition: all 0.6s ease;
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: #37323E;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
}

.slick-dots>li>button::after {
    content: "";
    transition: all 0.6s ease;
    position: absolute;
    content: "";
    width: 0rem;
    height: 0rem;
    background: transparent;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    z-index: 4;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #1446A0;
}

.slick-dots>li.slick-active>button::before {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    background: #EF8354;
}

.slick-dots>li.slick-active>button::after {
    transform: translateX(-50%) translateY(-50%);
    width: 2rem;
    height: 2rem;
}